.App {
  text-align: center;
}

.header {
  background-color: #2d3f46;
}

.search-button {
  margin: 10px;
  padding: 10px;
  width: 300px;
}

.horizontal-rule {
  width: 600px;
}

.container-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  margin: auto;
}

.container {
  display: flex;
  width: 800px;
  margin: auto;
  justify-content: space-around;
}

.product {
  font-size: x-large;
  color: #3e5660;
}

.product-div {
  background-color: #f1f2f0;
  margin: 20px;
  padding: 5px;
  width: 350px;
  text-align: left;
  justify-content: space-around;
}

.product-title {
  text-decoration: none;
  font-size: small;
}

.product-title #title {
  color: #000000;
}

.product-title #type {
  color: #008e73;
}

.product-title #price {
  color: #7c7c7c;
}

.product-title {
  text-transform: capitalize;
}

.product-div:hover {
  background-color: lightgray;
}

.product-div h6 {
  margin: 0;
}

.button-edit-delete {
  margin: 10px;
  background-color: #3e5660;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-edit-delete:hover {
  background-color: #1d292e;
}

.details-div {
  line-height: 140%;
  text-align: left;
  background-color: #f1f2f0;
  padding: 20px;
  width: 350px;
}

.details-div h3 {
  color: #008e73;
}

.thin-margin * {
  margin: 0px;

  /* left: 0%; */
}
